extends layout

block content
    ul
        li
        form( name="bsc_button",method="get",action="/ETLS_adquisiciones/carga-productos")
            button(class="btn btn-primary", type="submit") Carga Forecast