extends layout

block content

  h1(class="text-dark") Bienvenido, Admin!
  br
  br


  hr
  p Contenido en construcción, diseño experimental. Por favor eliga el area que le corresponda.

//- h

//-     //- ul
    //-   li
    //-     form(name="bsc_button",method="get",action="/ETLS_adquisiciones/Clasificacion-por-PM/")
    //-       button(class="btn btn-success", type="submit") Ejecutar Carga de Clasificacion por PM
    //- hr