extends layout

//- //- block content
//- //-             hr
//- //-             p Contenido en construcción, diseño experimental.
//- //-             p Por el momento se encuentran disponibles:

//- //-             ul
//- //-             li
//- //-               form(name="controlador_ETLS",method="get",action="/ETLS/")
//- //-                   button(class="btn btn-primary", type="submit") Controlador de ETLs de Finanzas
//- //-             li
//- //-               form(name="controlador_ETLS_Adquisiciones",method="get",action="/ETLS_adquisiciones/")
//- //-                     button(class="btn btn-primary", type="submit") Controlador de ETLs de Adquisiciones

//- //-             hr