doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/css/bootstrap.bundle.min.js"></script>
    link(rel='stylesheet', href='/css/style.css') 
    link(rel='stylesheet', href='/css/desing.css') 

  head 
    div(id="formContent" class="container-fluid")
      div(class="fadeIn first")
        br
        img(src="images/valtek_logo.jpeg" class="center" id="icon" alt="User Icon")
      br
      form(action='index', method='GET')
        input(type="text" id="login" class="fadeIn second" name="login" placeholder="Cuenta" value="admin")
        input(type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña" value="****")
        input(type="submit" class="fadeIn fourth" value="Entrar")
      h6() ©2022 Valtek Diagnostics, S.A. Todos los derechos reservados.
      br
      div

        div
  



