:root{
    --primary: #111b54;
    --light: #ffffff;
    --grey: #efefef;
}

a:hover{
    text-decoration: none;
}

#base{
    background-color: #efefee;
}

#sidebar-container {
    min-height: 100vh;
    background: #394263;
}
#sidebar-container .menu{
    width: 18rem;
}

img.foto {
    /* position: relative; */
    top: 200em;
  }
/* E84A5F #DC3815*/



li:last-child {
    list-style-type: none; 
 }


ul {  
    list-style-type: none; 
}

.bar .menu a{
    color: #fff;
    text-decoration:none;
}

.bar .menu a:hover{
    background: #111b54;
    transition: 0.3 ease;
}

.bar .menu .sub-menu{
    background: rgba(255, 255, 255, 0.1);
    display: none;

}

.bar .menu .sub-menu a{
    padding-left: 25px;
}


.logo a{
    padding-left: 140px;
}

ion-icon {
    font-size: 20px;
  }