:root{
    --primary: #111b54;
    --light: #ffffff;
    --grey: #efefef;
}

a:hover{
    text-decoration: none;
}

#base{
    background-color: #efefee;
}

#sidebar-container {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #aeb0d3, #a5aad7, #9aa4da, #8e9fde, #809ae2, #7696e1, #6b92e0, #5f8edf, #588ad9, #5285d3, #4b81cd, #447dc7);
}
#sidebar-container .menu{
    width: 18rem;
}

img.foto {
    /* position: relative; */
    top: 200em;
  }
/* E84A5F #DC3815*/



