:root{
    --primary: #111b54;
    --light: #ffffff;
    --grey: #efefef;
}

a:hover{
    text-decoration: none;
}

#base{
    background-color: #efefee;
}

#sidebar-container {
    min-height: 100vh;
    background: #394263;
}
#sidebar-container .menu{
    width: 18rem;
}

img.foto {
    /* position: relative; */
    top: 200em;
  }
/* E84A5F #DC3815*/



li:last-child {
    list-style-type: none; 
 }


 ul {  
    list-style-type: none; 
}